<header>
  <nav>
    <button class="icon" onclick="myFunction()">Menu</button>
    <ul id="myTopnav" class="topnav">
      <li>
        <a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/images/logo.png' | prepend: site.baseurl }}" alt="Home"/></a>
      </li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ '/programs' | prepend: site.baseurl }}">Programs</a></li>
      <li><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
      <li><a href="{{ '/contact2' | prepend: site.baseurl }}">Contact2</a></li>
    </ul>
  </nav>
  <script>
    function myFunction() {
      var x = document.getElementById('myTopnav');
      if (x.className === 'topnav') {
        x.className += ' responsive';
      } else {
        x.className = 'topnav';
      }
    }
  </script>
</header>
