$content-width: 800px;
$main: #19ccaa;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #e7edf4;
$header: #1d1425;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  text-align: right; //move everything to the right

  li {
    border: 1px solid #333;
    display: inline-block;
    line-height: 80px; //the height of the logo
    padding: 0 20px;
    position: relative;
    max-height: 80px;
  }

  li + li {
    margin-left: 20px;
  }

  li:first-child { //the first child is the logo put that on the left with no border
    float: left;
    border: none;
    img {
      height: 80px;
    }
  }
}
